<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dymos.homescreen_project_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".homescreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".aboutScreen"
            android:parentActivityName=".homescreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dymos.homescreen_project_app.homescreen" />
        </activity>

        <activity
            android:name=".select_region"
            android:parentActivityName=".homescreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dymos.homescreen_project_app.homescreen" />
        </activity>

        <activity
            android:name=".select_year"
            android:parentActivityName=".select_region">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dymos.homescreen_project_app.homescreen" />
        </activity>

        <activity
            android:name=".search_results"
            android:parentActivityName=".select_year">
            <meta-data
                android:name="android.support.PARENT_ACTIVTY"
                android:value="com.example.dymos.homescreen_project_app.homescreen"/>
        </activity>

    </application>

</manifest>